<div>
{% for member in site.data.project %}
<div class="jumbotron">
   <center>
   <a href="{{site.url}}{{site.baseurl}}/about"><img src="{{site.url}}{{site.baseurl}}/images/{{ member.photo }}" width="60%" style="block:inline; margin-left:auto; margin-right:auto; margin-bottom:5px;"/></a>
   <h4>{{ member.name }}</h4>
   <div style="margin-bottom:5px">
  </div>
  </center>

  <!-- <ul style="overflow: hidden">
    {% for education in member.educationshort %}
      <li>{{ education | replace: "-","&#8211;" }}</li>
    {% endfor %}
  </ul> -->

</div>
{% endfor %}
</div>

<div class="jumbotron">
  <h4>News</h4>

  {% for article in site.data.news limit:3 %}
  <b>{{ article.date }}</b>
    <p>{{ article.headline }}</p>
  {% endfor %}
  
  <h5><a href="{{ site.url }}{{ site.baseurl }}/news.html">... see all News</a></h5>

</div>
